/*
Responsive css - BAFU - Tablette portrait + paysage
*/
@media only screen and (max-width:768px){

    h1{
        font-size: 3em !important;
    }
    .lesplus h1 {
        text-align: center;
        margin-top: 15%;
    }
    .quotes {
        font-size: 2em !important;
    }
    .pictoImgTree{
        display:none;
    }
    .pictoImgTreeI{
        display:none;
    }
    #proximite .mosaImg1{
        background-image: url(../imgs/carte_bourgogneR.png);
        background-repeat: no-repeat;
        width:400px;
        height:430px;
        margin-top: -30%;
        padding-bottom: 15px;
        margin-right:auto;
        margin-left:auto;
    } 
    #proximite .mosaImg2{
        background-image: url(../imgs/carte_cotedorR.png);
        background-repeat: no-repeat;
        width:400px;
        height:390px;
        margin-right:auto;
        margin-left:auto;
    }

    #traitement .mosaImg1{
        background-image: url(../imgs/traitementR1.png);
        background-repeat: no-repeat;
        width:373px;
        height:270px;
        margin-top: -15%;
        padding-bottom: 15px;
        margin-right:auto;
        margin-left:auto;
    }

    #traitement .mosaImg2{
        background-image: url(../imgs/traitementR2.png);
        background-repeat: no-repeat;
        width:373px;
        height:270px;
        margin-right:auto;
        margin-left:auto;
    }

    #pluridisciplinarite .mosaImg1{
        background-image: url(../imgs/pluriR1.png);
        background-repeat: no-repeat;
        width:373px;
        height:270px;
        margin-left: 5%;
        margin-right: 10%;
        margin-top: -15%;
        padding-bottom: 15px;
        margin-right:auto;
        margin-left:auto;
    }

    #pluridisciplinarite .mosaImg2{
        background-image: url(../imgs/pluriR1.png);
        background-repeat: no-repeat;
        width:373px;
        height:270px;
        margin-right:auto;
        margin-left:auto;
    }

    #bassin .mosaImg1{
        background-image: url(../imgs/bassinR1.png);
        background-repeat: no-repeat;
        width:373px;
        height:270px;
        margin-top: -15%;
        padding-bottom: 15px;
        margin-right:auto;
        margin-left:auto;
    }

    #bassin .mosaImg2{
        background-image: url(../imgs/bassinR2.png);
        background-repeat: no-repeat;
        width:373px;
        height:270px;
        margin-right:auto;
        margin-left:auto;
    }

    #glisser .mosaImg1{
        background-image: url(../imgs/glisserR1.png);
        background-repeat: no-repeat;
        width:373px;
        margin-top: -15%;
        padding-bottom: 15px;
        margin-right:auto;
        margin-left:auto;
    }

    #glisser .mosaImg2{
        background-image: url(../imgs/glisserR2.png);
        background-repeat: no-repeat;
        width:373px;
        height:270px;
        margin-right:auto;
        margin-left:auto;
    }

    #detail .mosaImg1{
        background-image: url(../imgs/detailR1.png);
        background-repeat: no-repeat;
        width:373px;
        height:270px;
        margin-top: -15%;
        padding-bottom: 15px;
        margin-right:auto;
        margin-left:auto;
    }

    #detail .mosaImg2{
        background-image: url(../imgs/detail2R.png);
        background-repeat: no-repeat;
        width:373px;
        height:270px;
        margin-right:auto;
        margin-left:auto;
    }

    #giratoire .mosaImg1{
        background-image: url(../imgs/giratoireR.png);
        background-repeat: no-repeat;
        width:373px;
        height:270px;
        margin-top: -15%;
        padding-bottom: 15px;
        margin-right:auto;
        margin-left:auto;
    }

    #giratoire .mosaImg2{
        background-image: url(../imgs/tourneR.png);
        background-repeat: no-repeat;
        width:373px;
        height:270px;
        margin-right:auto;
        margin-left:auto;
    }

    .menuBafu, .menuCir, .menuEspace, .menuUrba, .menuPaysage, .menuHydrau{
        width:150px;
    }

    .titre1{
        margin-top:	40%;
        text-align: center;
    }
    .titre2{
        margin-top:	15%;
        margin-right: 0%;
    }

    .lesplus{
        margin-right: auto;
        margin-left: auto;
    }

    .treeplus{
        display: none;
    }

    #small{
        font-size: 0.9em;
    }

}

/* 10 - pouces */
@media only screen and (width:1024px) and (height:600px) {
    #small{
        font-size: 0.9em;
    }
    .col-md-4, .col-lg-4{
        padding: 5px;
    }

    #proximite .mosaImg1{
        background-image: url(../imgs/carte_bourgogneR.png);
        background-repeat: no-repeat;
        width:400px;
        height:430px;
        margin-left: 10%;
        margin-top: -5%;
    } 
    #proximite .mosaImg2{
        background-image: url(../imgs/carte_cotedorR.png);
        background-repeat: no-repeat;
        width:400px;
        height:390px;
        margin-top: -5%;
    }

    #traitement .mosaImg1{
        background-image: url(../imgs/traitementR1.png);
        background-repeat: no-repeat;
        width:373px;
        height:270px;
        margin-left: 5%;
        margin-right: 10%;
    }

    #traitement .mosaImg2{
        background-image: url(../imgs/traitementR2.png);
        background-repeat: no-repeat;
        width:373px;
        height:270px;
    }	
    #pluridisciplinarite .mosaImg1{
        background-image: url(../imgs/pluriR1.png);
        background-repeat: no-repeat;
        width:373px;
        height:270px;
        margin-left: 5%;
        margin-right: 10%;
    }

    #pluridisciplinarite .mosaImg2{
        background-image: url(../imgs/pluriR1.png);
        background-repeat: no-repeat;
        width:373px;
        height:270px;
    }

    #bassin .mosaImg1{
        background-image: url(../imgs/bassinR1.png);
        background-repeat: no-repeat;
        width:373px;
        height:270px;
        margin-left: 5%;
        margin-right: 10%;
        margin-top: -10%;
    }

    #bassin .mosaImg2{
        background-image: url(../imgs/bassinR2.png);
        background-repeat: no-repeat;
        width:373px;
        height:270px;
    }
    #glisser .mosaImg1{
        background-image: url(../imgs/glisserR1.png);
        background-repeat: no-repeat;
        width:373px;
        height:270px;
        margin-left: 5%;
        margin-right: 10%;
    }

    #glisser .mosaImg2{
        background-image: url(../imgs/glisserR2.png);
        background-repeat: no-repeat;
        width:373px;
        height:270px;
    }

    #detail .mosaImg1{
        background-image: url(../imgs/detailR1.png);
        background-repeat: no-repeat;
        width:373px;
        height:270px;
        margin-left: 5%;
        margin-right: 10%;
        margin-top: -10%;
    }

    #detail .mosaImg2{
        background-image: url(../imgs/detail2R.png);
        background-repeat: no-repeat;
        width:373px;
        height:270px;
    }

    #giratoire .mosaImg1{
        background-image: url(../imgs/giratoireR.png);
        background-repeat: no-repeat;
        width:373px;
        height:270px;
        margin-left: 5%;
        margin-right: 10%;
        margin-top: -10%;
    }

    #giratoire .mosaImg2{
        background-image: url(../imgs/tourneR.png);
        background-repeat: no-repeat;
        width:373px;
        height:270px;
    }

    .menuBafu, .menuCir, .menuEspace, .menuUrba, .menuPaysage, .menuHydrau{
        width:150px;
    }

}
/* 12 - pouces */
@media only screen and (width:1024px) and (min-height:650px){
    #containerMosa .container {
        width: 100%;
        height: 23%;
        padding: 5px;
    }
    #small{
        font-size: 0.9em;
    }

    .col-md-4, .col-lg-4{
        padding: 5px;
    }

    #traitement .mosaImg1{
        background-image: url(../imgs/traitementR1.png);
        background-repeat: no-repeat;
        width:373px;
        height:270px;
        margin-left: 5%;
        margin-right: 10%;

    }

    #proximite .mosaImg1{
        background-image: url(../imgs/carte_bourgogneR.png);
        background-repeat: no-repeat;
        width:400px;
        height:430px;
        margin-left: 10%;
        margin-top: -5%;
    } 
    #proximite .mosaImg2{
        background-image: url(../imgs/carte_cotedorR.png);
        background-repeat: no-repeat;
        width:400px;
        height:390px;
        margin-top: -5%;
    }

    #traitement .mosaImg2{
        background-image: url(../imgs/traitementR2.png);
        background-repeat: no-repeat;
        width:373px;
        height:270px;
    }

    #pluridisciplinarite .mosaImg1{
        background-image: url(../imgs/pluriR1.png);
        background-repeat: no-repeat;
        width:373px;
        height:270px;
        margin-left: 5%;
        margin-right: 10%;

    }

    #pluridisciplinarite .mosaImg2{
        background-image: url(../imgs/pluriR1.png);
        background-repeat: no-repeat;
        width:373px;
        height:270px;
    }

    #bassin .mosaImg1{
        background-image: url(../imgs/bassinR1.png);
        background-repeat: no-repeat;
        width:373px;
        height:270px;
        margin-left: 5%;
        margin-right: 10%;
        margin-top: -10%;
    }

    #bassin .mosaImg2{
        background-image: url(../imgs/bassinR2.png);
        background-repeat: no-repeat;
        width:373px;
        height:270px;
    }

    #glisser .mosaImg1{
        background-image: url(../imgs/glisserR1.png);
        background-repeat: no-repeat;
        width:373px;
        height:270px;
        margin-left: 5%;
        margin-right: 10%;
    }

    #glisser .mosaImg2{
        background-image: url(../imgs/glisserR2.png);
        background-repeat: no-repeat;
        width:373px;
        height:270px;
    }

    #detail .mosaImg1{
        background-image: url(../imgs/detailR1.png);
        background-repeat: no-repeat;
        width:373px;
        height:270px;
        margin-left: 5%;
        margin-right: 10%;
        margin-top: -10%;
    }

    #detail .mosaImg2{
        background-image: url(../imgs/detail2R.png);
        background-repeat: no-repeat;
        width:373px;
        height:270px;
    }

    #giratoire .mosaImg1{
        background-image: url(../imgs/giratoireR.png);
        background-repeat: no-repeat;
        width:373px;
        height:270px;
        margin-left: 5%;
        margin-right: 10%;
        margin-top: -10%;
    }

    #giratoire .mosaImg2{
        background-image: url(../imgs/tourneR.png);
        background-repeat: no-repeat;
        width:373px;
        height:270px;
    }

    .menuBafu, .menuCir, .menuEspace, .menuUrba, .menuPaysage, .menuHydrau{
        width:170px;
    }
}

@media (min-width: 768px) {
    .container {
        width: 750px;
        height: calc(100%/3);
        padding: 5px;
    }  

    .containerPicto {
        width: 750px;
        height: 13%;
        padding: 5px;
    }  

    .containerImg {
        width: 100%;
        height: calc(100%/3);
        background:#582a31;
    } 

    .containerImg img{
        width: auto;
        height: 100%;
    }  

}
@media (min-width: 992px) {
    .container {
        width: 970px;
        height: calc(100%/3);
        padding: 5px;
    } 

    .containerImg img{
        width: auto;
        height: 100%;
    }  

    .containerImg {
        width: 100%;
        height: calc(100%/3);
        background:#582a31;
    } 

    .containerPicto {
        width: 970px;
        height: 13%;
        padding: 5px;
    }  

}
@media (min-width: 1200px) {
    .container {
        width: 1170px;
        height: calc(100%/3);
        padding: 5px;
    }  

    .containerImg img{
        width: auto;
        height: 100%;
    }  

    .containerImg {
        width: 100%;
        height: calc(100%/3);
        background:#582a31;
    } 

    .containerPicto {
        width: 1170px;
        height: 23%;
        padding: 5px;
    }  
}